*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix{zoom:1}
.clearfix:after{
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*--------------------------*/
/*Reusable Content*/
/*--------------------------*/

section{
  padding: 80px 0;
}

.box{
  padding: 1%;
}

/*------Headings------*/
h1,
h2,
h3{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1{
  color: #fff;
  font-size: 240%;
  margin-top: 0;
  margin-bottom: 20px;
  word-spacing: 3px;
}

h2{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h3{
  font-size: 110%;
  margin-bottom: 10px;
}

h2:after{
  display: block;
  height: 2px;
  background-color: #555;
  content: " ";
  width: 150px;
  margin: 30px auto 0 auto;
}

.long-copy{
  line-height: 145%;
  width: 60%;
  margin-left: 20%;
  text-align: justify;
}

.box p{
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}

.icon-big{
  font-size: 350%;
  display: block;
  margin: 0 0 10px 10px;
}

/*------Buttons------*/
.btn:link,
.btn:visited{
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 200px;
  transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited{
  color: #242120;
  font-weight: 350;
  background-color: #dfe6e9;
  border: 1px solid #dfe6e9;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
  border: 1px solid #dfe6e9; /* Main color: #dfe6e9 */
  font-weight: 300;
  color: #dfe6e9;
}

.btn-full:hover,
.btn-full:active{
  background-color: #cbd6db;
  border: 1px solid #cbd6db;
}

.btn-ghost:hover,
.btn-ghost:active{
  border: 1px solid #dfe6e9;
  background-color: #dfe6e9;
  font-weight: 350;
  color: #242120;
}

/*--------------------------*/
/*Header*/
/*--------------------------*/

header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.5em;
  border: 1px solid #fff;
  float: left;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  text-align: center;
  padding: 8px;
  margin-top: 20px;
}

.main-nav{
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li{
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
  text-decoration: none;
  color: #fff;
  padding: 8px 0px;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.main-nav li a:hover,
.main-nav link a:active{
  border-bottom: 2px solid #fff;
}

.section-about .long-copy{
  margin-bottom: 20px;
}

/*--------------------------*/
/*Cities*/
/*--------------------------*/
.cool-cities{
  padding: 0;
}

.city-showcase{
  list-style: none;
  width: 100%;
}

.city-showcase li{
  display: block;
  float: left;
  width: 25%;
  line-height: 0;
}

.city-photo{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.city-photo img{
  width: 100%;
  opacity: 0.8;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.city-photo img:hover{
  opacity: 1;
  transform: scale(1);
}

/*--------------------------*/
/*Travel essentials*/
/*--------------------------*/
.section-blogs{
  background-color: #F7F7F7;
}

.section-blogs .long-copy{
  margin-bottom: 40px;
}

.card{
  display: block;
  float: left;
  width: 22%;
  height: 400px;
  background: #000;
  box-shadow: 0 2px 6px #000;
  position: relative;
  border-radius: 7px;
  margin-left: 4%;
  transition: transform .3s;
}

.card:first-of-type{
  margin-left: 0;
}

.card-img{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-img img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  opacity: .7;
}

.card-img img:hover{
  opacity: .9;
}

.card:hover{
  transform: scale(1.05);
}

.card-content{
  color: #fff;
  height: 160px;
  font-weight: 400;
  font-size: 110%;
  word-spacing: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  text-align: center;
  margin-left: 15%;
}

.card-content a{
  text-decoration: none;
  color: #fff;
  font-size: 70%;
  border: 1px solid #fff;
  padding: 12px 0;
  width: 60%;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color .3s, color .3s;
}

.card-content a:hover{
  background-color: #fff;
  color: #000;
}

/*--------------------------*/
/*Section-steps*/
/*--------------------------*/

.section-steps .steps-card{
  display: block;
  width: 97%;
  height: 450px;
  box-shadow: 0 2px 6px #000;
  position: relative;
  border-radius: 7px;
  transition: transform .3s;
  float: right;
}

.steps-box:first-child{
  padding-right: 3%;
  margin-top: 20px;
}

.steps-box:last-child{
  padding-left: 3%;
  margin-top: 80px;
}

.steps-card:hover{
  transform: scale(1.12);
}

.my-img{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.my-img img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.work-steps{
  margin-bottom: 40px;
}

.work-steps:last-of-type{
  margin-bottom: 60px;
}

.work-steps div{
  border: 1px solid #555;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 20px;
}

.btn-app img{
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/*--------------------------*/
/*Experiance-TravelFolks*/
/*--------------------------*/

.section-views{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/background.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
}

.section-views h2:after{
  background-color: #fff;
}

blockquote{
  padding: 5%;
  text-align: justify;
  font-style: italic;
  line-height: 145%
}

cite{
  font-size: 90%;
  display: block;
  margin-left: 20px;
}

blockquote::before{
  content: "\201C";
  font-size: 400%;
  display: block;
}

cite img{
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/*--------------------------*/
/*Active Tours*/
/*--------------------------*/

.box img{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.city-tours{
  margin-bottom: 5px;
}

.city-tours .plan-price{
  font-size: 150%;
  font-weight: 300;
  color: #e67e22;
  margin-bottom: 15px;
}

.city-tours .plan-price span{
  font-size: 50%;
}

.icon-small{
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 120%;
  margin-right: 10px;
}

.reservation-btn:link,
.reservation-btn:visited
{
  text-decoration: none;
  color: #555;
  border: 1px solid #555;
  padding: 8px;
  transition: all .4s;
  background-color: #fff;
}

.reservation-btn:hover,
.reservation-btn:active
{
  background-color: #555;
  color: #fff;
}

/*--------------------------*/
/*Signup -section*/
/*--------------------------*/
.section-form{
  background-color: #f8f8f8;
}

.contact-form{
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

input[type=submit],
input[type=submit]{
  display: block;
  background-color: #2e2e2e;
  padding: 8px 20px;
  color: #fff;
  border: 2px solid #2e2e2e;
  border-radius: 20px;
  font-weight: 300;
}

input[type=submit]:hover,
input[type=submit]:active{
  background-color: #262626;
}

input[type=checkbox]{
  margin: 10px 5px 15px 0;
}

/*--------------------------*/
/*Footer*/
/*--------------------------*/

footer{
  background-color: #333;
  padding: 40px;
  font-size: 80%;
}

.footer-nav{
  list-style: none;
  float: left;
}

.social-links{
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 15px;
}

.footer-nav li:last-child,
.social-links li:last-child{
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
  text-decoration: none;
  border: 0;
  color:#888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
  font-size: 150%;
}

footer p{
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 60px;
  clear: both;
}
